<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/header :: header">
</head>
<body>
<div class="container my-5">
    <div class="col-md-8">
        <h2 class="my-5">Ops... Ação  ou erro inesperado!</h2>
        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Volte ao Início</th>
            </tr>
            </thead>
        </table>
        <p class="my-5"><a class="list-group-item" href="/index"><i class="fa fa-home fa-fw" ></i>&nbsp; Início</a></p>
    </div>
</div>
</body>
</html>