<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/header :: header">
</head>
<body>
<div class="container my-5">
    <div class="col-md-8">
            <h2 class="my-5">Ação Bloqueada</h2>
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Apenas Times sem Membros podem ser excluídos!</th>
                </tr>
                </thead>
            </table>
        <p class="my-5"><a class="list-group-item" href="/index/team"><i class="material-icons">&#xe5c4;</i> Voltar</a></p>
    </div>
</div>
</body>
</html>